<footer class="border-top">
    <div class="f-info">
        <div class="left-data">
            &copy; 2024 BookYourStay, Inc.
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/company-details">Company Details</a>
        </div>
        <div class="right-data">
            <div class="socials">
                <a href="facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="twitter.com"><i class="fa-brands fa-twitter"></i></a>
                <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>