

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">StockGrow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Watchlist</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Indices
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/index/nifty50">NIFTY 50</a></li>
              <li><a class="dropdown-item" href="/index/niftynxt50">NIFTY NEXT 50</a></li>
              <li><a class="dropdown-item" href="/index/niftybank">NIFTY BANK</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/index/nifty100">NIFTY 100</a></li>
              <li><a class="dropdown-item" href="/index/nifty500">NIFTY 500</a></li>
              <li><a class="dropdown-item" href="/index/nifty200">NIFTY 200</a></li>
              <li><a class="dropdown-item" href="/index/niftyit">NIFTY IT</a></li>
              <li><a class="dropdown-item" href="/index/niftyfmcg">NIFTY FMCG</a></li>
              <li><a class="dropdown-item" href="/index/niftyauto">NIFTY AUTO</a></li>
              <li><a class="dropdown-item" href="/index/niftyenergy">NIFTY ENERGY</a></li>
              <li><a class="dropdown-item" href="/index/niftymnc">NIFTY MNC</a></li>
              <li><a class="dropdown-item" href="/index/niftyinfra">NIFTY INFRA</a></li>
              
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex" method="get" action="/search">
          <input name="stock" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
