

a{
    text-decoration: none !important;
}

body{
    background-color: rgba(175, 175, 175, 0.282) !important;
}

.index{
    margin: 1.5rem;
}

.change{
    display: flex;
    padding: 0.3rem 1rem;
}
.chng{
    margin: 0 1rem;
}

.ohlc{
    display: flex;
    /* justify-content: space-around; */
    font-size: smaller;
    opacity: 0.7;
}

.ohlc div{
    margin-right: 2rem;
}

.stock-table{
    width: 100%;
}

.stock-table tr{
    border-bottom: 1px solid black;
    /* padding: 2rem; */
    /* margin: 10px; */
    height: 3rem;
}

.stock{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.price div div{
    display: flex;
    /* justify-content: space-evenly; */
}

.curr-price{
    margin-right: 1rem;
    /* justify-content: space-evenly; */
}

.green {
    color: rgb(0, 165, 0);
}
.red{
    color: rgb(201, 0, 0);
}


footer{
    color:rgb(200, 200, 200);
    position: sticky;
    bottom: 0;
    /* margin:-20px -20px; */
    /* border: 2px solid rgb(222, 19, 19); */
}

.f-info{
    padding: 16px 50px;
    display: flex;
    justify-content: space-between;
    background-color: #3f3f3f;
    font-size: 14px;
}

.f-info a{
    text-decoration: none;
}

.f-info a:hover{
    text-decoration: underline;
}

.left-data a{
    margin: 10px;
    color: rgb(200, 200, 200);
}

.right-data a{
    margin: 5px;
    font-size: 16px;
    color: rgb(200, 200, 200);
}

.left-data a:hover, .right-data a:hover{
    color: rgb(220, 220, 220);
}